In [70]:
import pandas as pd
energy_data = pd.read_csv("Extra//energy.csv")
env_data = pd.read_csv("Extra//environment.csv")

In [71]:
#energy_data = energy_data.drop(['timestamp'])

energy_data['active_power_mean'] = energy_data[["Active Power A average [kW]","Active Power B average [kW]","Active Power C average [kW]"]].mean(axis=1)
energy_data['thdi_mean'] = energy_data[["THDI A average [%]","THDI B average [%]","THDI C average [%]"]].mean(axis=1)
energy_data['thdu_mean'] = energy_data[["THDU A average [%]","THDU B average [%]","THDU C average [%]"]].mean(axis=1)
energy_data['current_average'] = energy_data[["Current A average [A]","Current B average [A]","Current C average [A]"]].mean(axis=1)
energy_data['power_mean'] = energy_data[["Power Factor A average","Power Factor B average","Power Factor C average"]].mean(axis=1)
real_data = energy_data[["power_mean","thdi_mean","current_average", "active_power_mean","thdu_mean"]]
real_data

        power_mean  thdi_mean  current_average  active_power_mean  thdu_mean
0              0.0        0.0         0.029333                0.0   1.100000
1              0.0        0.0         0.027333                0.0   1.133333
2              0.0        0.0         0.027000                0.0   1.133333
3              0.0        0.0         0.028000                0.0   1.133333
4              0.0        0.0         0.030667                0.0   1.166667
...            ...        ...              ...                ...        ...
823379         0.0        0.0         0.027333                0.0   1.300000
823380         0.0        0.0         0.027000                0.0   1.233333
823381         0.0        0.0         0.027333                0.0   1.233333
823382         0.0        0.0         0.027000                0.0   1.233333
823383         0.0        0.0         0.026667                0.0   1.300000

[823384 rows x 5 columns]

In [72]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_df = pd.DataFrame(scaler.fit_transform(real_data.values), columns=real_data.columns, index=real_data.index)
scaled_df

        power_mean  thdi_mean  current_average  active_power_mean  thdu_mean
0         -0.68288  -0.289984        -0.462454          -0.450949  -0.958382
1         -0.68288  -0.289984        -0.463278          -0.450949  -0.823278
2         -0.68288  -0.289984        -0.463416          -0.450949  -0.823278
3         -0.68288  -0.289984        -0.463003          -0.450949  -0.823278
4         -0.68288  -0.289984        -0.461904          -0.450949  -0.688174
...            ...        ...              ...                ...        ...
823379    -0.68288  -0.289984        -0.463278          -0.450949  -0.147758
823380    -0.68288  -0.289984        -0.463416          -0.450949  -0.417966
823381    -0.68288  -0.289984        -0.463278          -0.450949  -0.417966
823382    -0.68288  -0.289984        -0.463416          -0.450949  -0.417966
823383    -0.68288  -0.289984        -0.463553          -0.450949  -0.147758

[823384 rows x 5 columns]

In [73]:
env_data

,timestamp,sound,pressure,temp,humidity,voc,roll,pitch,yaw,Xacc,Yacc,Zacc,Xgyr,Ygyr,Zgyr,pm1.0,pm2.5,pm10,CO2
0,2022-11-07 00:00:00,0.950465,1012.133533,24.767500,35.990782,29451.0,91.701984,1.329677,-60.041617,-375.0,16287.0,-474.0,2.0,3.0,-2.0,26.0,36.0,45.0,421.0
1,2022-11-07 00:00:01,0.881076,1012.037290,24.777757,35.996349,29466.0,91.693083,1.319025,-60.002687,-372.0,16305.0,-469.0,3.0,5.0,0.0,26.0,36.0,45.0,421.0
2,2022-11-07 00:00:02,0.863325,1012.025698,24.762371,36.002125,29467.0,91.700382,1.333419,-60.060559,-380.0,16280.0,-473.0,4.0,3.0,0.0,26.0,36.0,45.0,419.0
3,2022-11-07 00:00:03,0.908509,1012.083523,24.767500,36.013384,29459.0,91.692620,1.321378,-60.022572,-371.0,16307.0,-468.0,4.0,5.0,0.0,26.0,36.0,45.0,418.0
4,2022-11-07 00:00:04,0.924645,1012.091207,24.767500,36.013384,29454.0,91.696569,1.335837,-60.084356,-376.0,16282.0,-468.0,4.0,3.0,-2.0,26.0,36.0,44.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860367,2022-11-18 23:59:55,1.266748,998.152750,27.367712,31.452703,29111.0,91.830421,1.404086,-60.064788,-394.0,16272.0,-510.0,0.0,3.0,-1.0,0.0,0.0,0.0,NaN
860368,2022-11-18 23:59:56,1.234474,998.179810,27.362583,31.458493,29102.0,91.835675,1.412571,-60.116193,-400.0,16277.0,-516.0,1.0,3.0,1.0,0.0,0.0,0.0,NaN
860369,2022-11-18 23:59:57,1.195746,998.199324,27.377969,31.463888,29103.0,91.845737,1.402164,-60.113403,-390.0,16281.0,-531.0,1.0,2.0,1.0,0.0,0.0,0.0,NaN
860370,2022-11-18 23:59:58,1.157017,998.194899,27.383098,31.480863,29103.0,91.867335,1.416190,-60.176338,-402.0,16280.0,-546.0,-2.0,3.0,0.0,0.0,0.0,0.0,NaN
860371,2022-11-18 23:59:59,1.339364,998.176037,27.360019,31.478460,29104.5,91.835857,1.385392,-60.070311,-388.5,16296.5,-500.0,1.0,4.0,1.0,0.0,0.0,0.0,NaN

In [74]:
env_data = env_data.drop(['timestamp'], axis=1)
scaler2 = StandardScaler()

scaled_df2 = pd.DataFrame(scaler.fit_transform(env_data.values), columns=env_data.columns, index=env_data.index)
scaled_df2

,sound,pressure,temp,humidity,voc,roll,pitch,yaw,Xacc,Yacc,Zacc,Xgyr,Ygyr,Zgyr,pm1.0,pm2.5,pm10,CO2
0,-0.298049,0.221950,-0.580923,1.239348,-0.625141,-0.196145,-0.212562,-0.326694,0.079575,0.060688,0.229818,-0.387051,-1.151319,-1.474152,-0.622277,-0.651654,-0.611994,-0.279549
1,-0.432437,0.212527,-0.573542,1.241158,-0.615127,-0.348858,-0.284705,-0.298630,0.103402,1.362224,0.443745,0.367893,0.074994,0.388965,-0.622277,-0.651654,-0.611994,-0.279549
2,-0.466815,0.211392,-0.584613,1.243036,-0.614459,-0.223636,-0.187217,-0.340350,0.039863,-0.445465,0.272603,1.122837,-1.151319,0.388965,-0.622277,-0.651654,-0.611994,-0.311773
3,-0.379307,0.217053,-0.580923,1.246697,-0.619800,-0.356814,-0.268772,-0.312965,0.111344,1.506839,0.486530,1.122837,0.074994,0.388965,-0.622277,-0.651654,-0.611994,-0.327886
4,-0.348054,0.217806,-0.580923,1.246697,-0.623138,-0.289050,-0.170840,-0.357505,0.071633,-0.300850,0.486530,1.122837,-1.151319,-1.474152,-0.622277,-0.651654,-0.635010,-0.327886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860367,0.314512,-1.146877,1.290137,-0.236242,-0.852144,2.007461,0.291419,-0.343398,-0.071328,-1.023925,-1.310452,-1.896938,-1.151319,-0.542593,-1.397968,-1.524985,-1.647730,NaN
860368,0.252006,-1.144228,1.286446,-0.234360,-0.858153,2.097607,0.348889,-0.380456,-0.118982,-0.662387,-1.567163,-1.141994,-1.151319,1.320523,-1.397968,-1.524985,-1.647730,NaN
860369,0.176998,-1.142317,1.297518,-0.232606,-0.857486,2.270239,0.278399,-0.378445,-0.039559,-0.373157,-2.208942,-1.141994,-1.764476,1.320523,-1.397968,-1.524985,-1.647730,NaN
860370,0.101991,-1.142750,1.301208,-0.227086,-0.857486,2.640813,0.373395,-0.423815,-0.134867,-0.445465,-2.850721,-3.406826,-1.151319,0.388965,-1.397968,-1.524985,-1.647730,NaN
860371,0.455151,-1.144597,1.284601,-0.227868,-0.856484,2.100733,0.164803,-0.347380,-0.027646,0.747610,-0.882599,-1.141994,-0.538163,1.320523,-1.397968,-1.524985,-1.647730,NaN

In [75]:
from fastdtw import fastdtw

distance, path = fastdtw(scaled_df['current_average'], scaled_df['power_mean'])
distance

437695.3636091581

In [76]:
from fastdtw import fastdtw

for column in scaled_df2.columns:
    distance, path = fastdtw(scaled_df['current_average'], scaled_df2[column])
    print("DTW between Current average [A] and", column, "is", distance)

DTW between Current average [A] and sound is 874039.0685092637
DTW between Current average [A] and pressure is 942827.0385194862
DTW between Current average [A] and temp is 610761.133331315
DTW between Current average [A] and humidity is 610153.05970106
DTW between Current average [A] and voc is 471230.38013539586